.QPushButton#browserButton {
    font-size: 24px;
    border: 2px solid #73AD21;
    border-radius: 10px;
    padding: 3px;
    width: auto;
    height: auto;
}

.QPushButton:hover#browserButton  {
    background-color: rgb(115, 173, 33);
    color: white;
}

.QLabel {
    font-size: 30px;
}

.QLabel#outer {
    border: 8px dashed gray;
    border-radius: 25px;
    margin: 10px 10px;
}