.QPushButton {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #B3BBBC;
    color: #353B3C;
    font-size: 20px;
    padding: 10px;
}

.QPushButton:hover {
    background-color: #353B3C;
    color: lightgray;
}

.QLabel {
    font-size: 30px;
}

.QLabel#outer {
    border: 8px dashed gray;
    border-radius: 25px;
    margin: 10px 10px;
}