.QPushButton {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #B3BBBC;
    color: #353B3C;
    font-size: 20px;
}

.QPushButton:disabled {
    background-color: rgba(179, 187, 188, 128);
    color: rgba(53, 59, 60, 128)
}

.QPushButton:hover {
    background-color: #353B3C;
    color: lightgray;
}

.QScrollArea {
    border: 3px solid lightgray;
}

.MainLabel {
    border: 1px solid lightgray;
}

.QLabel {
    border: 3px solid lightgray;
}

.QLabel {
    font-size: 16px;
}